<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Welcome to Minesweeper</h1>
    <div class="menu">
        <button id="login">Login</button>
    </div>

    <script>
        document.getElementById("login").addEventListener("click", async () => {
            const username = prompt("Enter your username:");
            if (username) {
                await fetch("/login", {
                    method: "POST",
                    redirect: "follow",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ username }),
                });
                window.location.href = "/";
            }
        });
    </script>

</html>